@{
    ViewData["Title"] = "Success";
}

@model User

<div class="container text-center mt-5">
    <div class="d-flex justify-content-end">
        <a href="/" class="btn btn-info btn-outline-dark">Logout</a>
    </div>
    <div class="mt-5">
        <h1 class="text-success">SUCCESS</h1>
    </div>
</div>